#lock-screen, #lock-screen-on-offline {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  z-index: 9999;
}

/* for offline  */

#lock-screen-on-offline span {
  position: absolute;
  top: 46vh;
  left: 30vw;
  /* width: 6vw; */
  height: 6vw;
  border-width: 0.7rem;
  font-size: 21px;
  color: #ff006c;
}

#lock-screen span {
  position: absolute;
  top: 46vh;
  left: 47vw;
  width: 6vw;
  height: 6vw;
  border-width: 0.7rem;
}